<ion-view view-title="Tap Item to Add to Cart">
  <ion-content class="padding">
    <div class="row">
	  <div class="col col-20"><img src="img/almonds.jpg" width="100%" ng-click="onFruitImageClick('Almonds',50)"/></div>
	  <div class="col col-20"><img src="img/babyfoods.jpg" width="100%" ng-click="onFruitImageClick('Baby Foods',60)"/></div>
	  <div class="col col-20"><img src="img/coffee.jpg" width="100%" ng-click="onFruitImageClick('Coffee',20)"/></div>
	  <div class="col col-20"><img src="img/cookies.jpg" width="100%" ng-click="onFruitImageClick('Cookies',50)"/></div>
	  <div class="col col-20"><img src="img/cosmetics.jpg" width="100%" ng-click="onFruitImageClick('Cosmetics',40)"/></div>
	</div>
	<div class="row">
	  <div class="col col-20"><img src="img/garlics.jpg" width="100%" ng-click="onFruitImageClick('Garlic',30)"/></div>
	  <div class="col col-20"><img src="img/masalas.jpg" width="100%" ng-click="onFruitImageClick('Masalas',30)"/></div>
	  <div class="col col-20"><img src="img/oil.jpg" width="100%" ng-click="onFruitImageClick('Oil',70)"/></div>
	  <div class="col col-20"><img src="img/rice.jpg" width="100%" ng-click="onFruitImageClick('Rice',50.49)"/></div>
	  <div class="col col-20"><img src="img/salt.jpg" width="100%" ng-click="onFruitImageClick('Salt',60.51)"/></div>
	</div>

<hr>

My Cart
<ion-list>
  <ion-item ng-repeat="item in items">
    {{item.name}} - {{item.amount}}
  </ion-item>
</ion-list>


<button class="button button-block button-positive" ng-click="onTotalClick($event)">
  TOTAL Rs: {{cartTotal}}
</button>



<div class="row">

   <div class="col text-left">
	<button class="button button-clear button-positive" ng-click="onRoundOffAmount();">
	  Round Off Amount
	</button>
   </div>

   <div class="col text-right">
	<button class="button button-clear button-positive" ng-click="onClearCart();">
	  Clear Cart
	</button>
   </div>
</div>

  </ion-content>
</ion-view>
