<ion-view view-title="Laundry Service - eKhata" ng-init="onInitView()">
  <ion-content>
  <button class="button button-block button-positive" ng-click="onShowEntry()">
  Add Entry
</button>

  <div class="item item-input-inset" ng-show="showEntryFields">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Quantity" ng-model="newentry.quantity">
    </label>
	&nbsp;&nbsp;&nbsp;
    <label class="item-input-wrapper">
      <input type="text" placeholder="Amount"  ng-model="newentry.amount">
    </label>
    <button class="button button-small" ng-click="onAddEntry(newentry)">
      Submit
    </button>
  </div>

<hr>
 <ion-list>
  <ion-item ng-repeat="entry in entries">
  <h3 style="color:red; size:9;">{{entry.mydate}}</h3>
  <h4 style="color:blue; size:8">Qty: {{entry.quantity}} &nbsp;&nbsp;&nbsp;&nbsp; Amt: {{entry.amount}}</h4>
  <h4>{{entry.details}}</h4>

  </ion-item>
</ion-list>

<button class="button button-block button-positive" ng-click="onTotalKhata($event)">
  TOTAL Rs: {{khataTotal}}
</button>

<div class="row">
   <div class="col text-left">
	<button class="button button-clear button-positive" ng-click="onRoundOffAmount();">
	  Round Off Amount
	</button>
   </div>

   <div class="col text-right">
	<button class="button button-clear button-positive" ng-click="onClear();">
	  Clear Cart
	</button>
   </div>
</div>


  </ion-content>
</ion-view>
